<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tab-inicio/consultas"></ion-back-button>
    </ion-buttons>

    <ion-title text-capitalize>{{title}}</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-button color="danger" (click)="verDashboard()">Vista Web</ion-button>
  <ion-card>
    <iframe width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMjk0MTBlZGYtNjIxZi00ZWVkLWFhNDgtNDZiYTNhYjU4NDUzIiwidCI6IjhjYzJjZGExLWVkNzQtNDc3YS04YWU5LTQyNWNmYjg1ZjE4MSJ9" frameborder="0" allowFullScreen="true">
    </iframe>
  </ion-card>
</ion-content>