<ion-tabs>
  <ion-tab-bar slot="bottom" color='danger'>
      <ion-tab-button tab="scan">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-label>Escáner QR</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="consultas">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label>Consultas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ayuda">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Ayuda</ion-label>
      </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>