<app-menu [modoOscuro]="modoOscuro"></app-menu>
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="firstMenu"></ion-menu-button>
      </ion-buttons>

      <ion-title text-capitalize>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <!-- <ion-button expand="block" color="danger" (click)="alert()">alerta</ion-button>
  <ion-button expand="block" color="danger" routerLink="/tab-conductor/scan">Conductor</ion-button> -->
</ion-content>