  <app-header [title]="title || 'Consultas'"></app-header>  
  
  <ion-content>
    <ion-card>      
      <ion-card-header>
          <ion-card-title>Nosotros</ion-card-title>          
      </ion-card-header>
      
      <ion-card-content>
          <h2 class="ion-text-justify" style="color: red;">
            Estamos siempre listos para brindarles la mejores alternativas de solución para atender las necesidades de nuestros clientes; nuestra gente enfocada por mejorar nuestros procesos y hacer uso de las tecnologías más adecuadas; personas éticas y comprometidas con la seguridad y el cuidado de nuestro medio ambiente.
          </h2>

          
      </ion-card-content>

      <ion-card-content>
        <p class="ion-text-justify">
          El resultado es que somos uno de las principales empresa de transporte de carga del país, atendiendo los estándares más altos de calidad y seguridad que garantizan la ejecución exitosa de los proyectos de nuestros clientes.
        </p>
      </ion-card-content>
  </ion-card>

  <ion-slides pager="true" class="slide-full">
    <ion-slide *ngFor="let slide of slides">

      <ion-card mode="ios">
        <img [src]="slide.img" class="slide-image">

        <ion-card-header>
          <ion-card-title>{{slide.titulo}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{slide.desc}}
        </ion-card-content>

      </ion-card>    
    </ion-slide>
  </ion-slides>

  </ion-content>
  
