<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
    <ion-slide>
        <ion-card>
            <ion-card-content>
                <ion-button color="danger" expand="full" shape="round" size="large" (click)="scanQR()">Escanear QR</ion-button>
                <ion-button color="danger" expand="full" shape="round" size="large" (click)="registroManual()">Registro Manual</ion-button>
                <!-- <ion-button color="danger" expand="full" shape="round" size="large" >Ver Historial</ion-button> -->
            </ion-card-content>
        </ion-card>
        
    </ion-slide>
</ion-content>