<app-header [title]="title"></app-header>

<ion-content>
    <ion-list>
        <ion-item detail routerLink="/viajes-conductor">
          <ion-icon slot="start" name="bus-outline"></ion-icon>
          <ion-label>Control de Viajes</ion-label>
        </ion-item>

        <!-- <ion-item detail>
            <ion-icon slot="start" name="reader-outline"></ion-icon>
            <ion-label>Peajes</ion-label>
        </ion-item>

        <ion-item detail>
            <ion-icon slot="start" name="cash-outline"></ion-icon>
            <ion-label>Descuentos</ion-label>
        </ion-item>         -->
    </ion-list>
</ion-content>