<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="firstMenu" ></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
        <img style="height: 50px; width: 50px; margin-top: 7px;" [src]="userImage">
        <!-- <img src="data:image/jpg;charset=utf8;base64,'.$imagen.'" class="card-img" > -->
      </ion-avatar>
      <!-- <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>

    <ion-title text-capitalize>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-buttons slot="end">
  <ion-avatar>
    <img style="height: 50px; width: 50px; margin-top: 7px;" [src]="userImage">
  </ion-avatar>
</ion-buttons> -->